body {
  margin: 0;
  font-family: 'Jost';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color1);
  color: var(--color5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --heading:'Cormorant Garamond';
  --para:'Jost';

  --color1:#F6F3EE;
  --color2:#E0D8D3;
  --color3:#5C5C61;
  --color4:#315959;
  --color5:#1B1B1B;
}

p{
  margin: 0;
}